In [1]:
# 전날 종가가 고가 또는 저가와 가까울 때의 다음날 시가 사이의 수익률 비교
import pandas as pd
from antQuant.utils import DataManager

In [30]:
stock = DataManager()
celltrion_stock = stock.get_daily_ohlcv('068270')
celltrion_stock.head()

            open  high   low  close  volume  adj_ratio
date
2005-07-19  6700  7700  6510   7700  499088        NaN
2005-07-20  7690  7690  6550   6550  422688        1.0
2005-07-21  6450  6580  5730   5740  182685        1.0
2005-07-22  5850  5850  5530   5580   69921        1.0
2005-07-25  5500  5950  5500   5650   61036        1.0

In [33]:
# 전날 종가가 고가와 가까울 때의 다음날 시가 사이의 수익률 비교
import numpy as np
returns = []
for i in range(len(celltrion_stock.index)):
    if i == len(celltrion_stock.index)-1:
        p = None
        returns.append(p)
    else:
        p = celltrion_stock.open[i+1]-celltrion_stock.close[i]
        returns.append(p)

celltrion_stock['returns'] = returns
celltrion_stock['returns'] = np.log(celltrion_stock['returns'])
celltrion_stock = celltrion_stock[(celltrion_stock['returns']!=np.inf)&(celltrion_stock['returns']!=-np.inf)]
celltrion_stock.dropna()

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:13: RuntimeWarning: divide by zero encountered in log
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:13: RuntimeWarning: invalid value encountered in log

              open    high     low   close   volume  adj_ratio   returns
date
2005-07-21    6450    6580    5730    5740   182685        1.0  4.700480
2005-07-29    5450    5450    5250    5320    57927        1.0  4.248495
2005-08-03    5220    5320    5030    5030    31604        1.0  2.995732
2005-08-10    4855    5020    4850    4980    29547        1.0  4.248495
2005-08-11    5050    5050    4930    5000    14976        1.0  2.302585
2005-08-19    4330    4450    4100    4200    65383        1.0  3.912023
2005-08-22    4250    4365    4220    4300    19806        1.0  3.912023
2005-08-31    3965    4095    3965    4000    15701        1.0  3.401197
2005-09-02    4170    4385    4150    4250    26662        1.0  2.995732
2005-09-05    4270    4280    4200    4205    12468        1.0  4.317488
2005-09-06    4280    4280    4195    4210    26439        1.0  3.688879
2005-09-07    4250    4480    4250    4365    69269        1.0  3.218876
2005-09-14    4280    4930    4280    4930   159354        1.0  5.135798
2005-09-15    5100    5460    4830    5200   346376        1.0  4.941642
2005-09-23    4725    4930    4655    4655    65427        1.0  2.302585
2005-09-26    4665    4730    4590    4670    27290        1.0  3.401197
2005-09-27    4700    5100    4660    5090   156320        1.0  2.302585
2005-09-28    5100    5130    4940    5050    92571        1.0  5.010635
2005-09-29    5200    5260    5000    5000   111836        1.0  2.302585
2005-09-30    5010    5300    4985    5300    94051        1.0  4.605170
2005-10-05    5290    5630    5290    5490   131484        1.0  5.347108
2005-10-06    5700    5930    5490    5490   312595        1.0  2.995732
2005-10-07    5510    5710    5510    5600   109101        1.0  3.912023
2005-10-13    5230    5470    5170    5470   107617        1.0  4.700480
2005-10-14    5580    5650    5380    5610   101054        1.0  4.941642
2005-10-17    5750    5900    5650    5700   134704        1.0  3.912023
2005-10-18    5750    5930    5680    5800   107826        1.0  3.688879
2005-10-21    5350    5800    5350    5800   100025        1.0  5.521461
2005-10-24    6050    6400    5960    6070   151960        1.0  3.401197
2005-10-25    6100    6500    5900    6150   234094        1.0  4.867534
...            ...     ...     ...     ...      ...        ...       ...
2018-04-05  291500  307000  283500  295000  1797274        1.0  6.907755
2018-04-06  296000  300500  291500  292000   660697        1.0  8.779557
2018-04-09  298500  310000  293000  306000  1134927        1.0  8.160518
2018-04-10  309500  311500  301000  303000   867964        1.0  8.006368
2018-04-11  306000  308000  298000  298000   681690        1.0  6.907755
2018-04-16  289500  302000  289500  295500   823788        1.0  6.214608
2018-04-17  296000  296000  289000  290000   661254        1.0  8.411833
2018-04-23  265000  267500  249500  250500  1984284        1.0  6.214608
2018-04-25  245500  256500  244000  251000  1327901        1.0  8.699515
2018-04-26  257000  260500  255500  257000   954716        1.0  9.047821
2018-05-02  267500  272500  256000  259000  1284374        1.0  7.824046
2018-05-03  261500  267000  257000  262000   844005        1.0  6.214608
2018-05-04  262500  264000  249000  250000  1087480        1.0  6.907755
2018-05-09  235000  264500  234000  259000  2553475        1.0  6.907755
2018-05-11  257000  267500  256000  260000  1034512        1.0  7.824046
2018-05-14  262500  264000  254500  255000   783485        1.0  8.853665
2018-05-15  262000  271500  262000  268000  1489555        1.0  8.006368
2018-05-16  271000  273500  267000  268500  1098811        1.0  8.006368
2018-05-17  271500  273000  266000  267500   628127        1.0  7.824046
2018-05-23  270000  271500  256500  257500   997007        1.0  8.853665
2018-05-28  269500  276000  267000  271000   788962        1.0  7.824046
2018-06-04  272500  273500  264000  266500   679298        1.0  8.160518
2018-06-05  270000  271000  265500  267000   397529        1.0  8.294050
2018-06-11  269000  270500  267000  267500   327679        1.0  7.600902
2018-06-14  272500  280000  272500  280000  1098162        1.0  6.907755
2018-06-15  281000  300000  280000  298500  1851466        1.0  8.160518
2018-06-18  302000  311000  299000  305000  1658676        1.0  6.907755
2018-06-19  306000  307500  286500  287500  1278723        1.0  8.294050
2018-06-20  291500  302000  290500  297000   944458        1.0  6.214608
2018-06-22  290000  298500  288500  295500   554010        1.0  8.294050

[1723 rows x 7 columns]