In [1]:
import pandas as pd

In [8]:
text = open('world_population_area.txt',"\t")

ValueError: invalid mode: '	'

In [6]:
text

                  0         1        2
0              Iraq  30399572   168753
1           Morocco  31968361   172413
2            Canada  34030589  3855081
3            Uganda  34612250    91135
4           Algeria  34994937   919590
5            Poland  38441588   120728
6             Kenya  41070934   224961
7         Argentina  41769726  1068296
8          Tanzania  42746620   364898
9          Colombia  44725543   439733
10            Sudan  45047502   728215
11          Ukraine  45134707   233089
12            Spain  46754784   194896
13     Korea, South  48754657    38023
14     South Africa  49004031   471008
15  Myanmar (Burma)  53999804   261969
16            Italy  61016804   116305
17   United Kingdom  62698362    94525
18           France  65312249   211208
19         Thailand  66720153   198455
20             Iran  77891220   636293
21           Turkey  78785548   301382
22          Germany  81471834   137846
23            Egypt  82079636   386660
24          Vietnam  90549390   127243