# 서울시 따릉이 대여량 예측 경진대회

서울시 마포구의 날짜별, 시간별 기상상황과 따릉이 대여 수 데이터

- id 고유 id
- hour 시간
- temperature 기온
- precipitation 비가 오지 않았으면 0, 비가 오면 1
- windspeed 풍속(평균)
- humidity 습도
- visibility 시정(視程), 시계(視界)(특정 기상 상태에 따른 가시성을 의미)
- ozone 오존
- pm10 미세먼지(머리카락 굵기의 1/5에서 1/7 크기의 미세먼지)
- pm2.5 미세먼지(머리카락 굵기의 1/20에서 1/30 크기의 미세먼지)
- count 시간에 따른 따릉이 대여 수

In [30]:
import pandas as pd

In [31]:
data = pd.read_csv('train.csv')

In [32]:
data.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [33]:
data.describe()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
count,1459.000000,1459.000000,1457.000000,1457.000000,1450.000000,1457.000000,1457.000000,1383.000000,1369.000000,1342.000000,1459.000000
mean,1105.914325,11.493489,16.717433,0.031572,2.479034,52.231297,1405.216884,0.039149,57.168736,30.327124,108.563400
std,631.338681,6.922790,5.239150,0.174917,1.378265,20.370387,583.131708,0.019509,31.771019,14.713252,82.631733
min,3.000000,0.000000,3.100000,0.000000,0.000000,7.000000,78.000000,0.003000,9.000000,8.000000,1.000000
25%,555.500000,5.500000,12.800000,0.000000,1.400000,36.000000,879.000000,0.025500,36.000000,20.000000,37.000000
50%,1115.000000,11.000000,16.600000,0.000000,2.300000,51.000000,1577.000000,0.039000,51.000000,26.000000,96.000000
75%,1651.000000,17.500000,20.100000,0.000000,3.400000,69.000000,1994.000000,0.052000,69.000000,37.000000,150.000000
max,2179.000000,23.000000,30.000000,1.000000,8.000000,99.000000,2000.000000,0.125000,269.000000,90.000000,431.000000

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

## 결측치 처리

In [35]:
data_dropna = data.dropna(axis=0)

In [36]:
data_dropna.describe()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
count,1328.000000,1328.000000,1328.000000,1328.000000,1328.000000,1328.000000,1328.000000,1328.000000,1328.000000,1328.000000,1328.000000
mean,1102.612952,11.905120,16.866039,0.030120,2.489834,51.740964,1413.655120,0.039091,57.481175,30.382530,110.804970
std,634.658078,6.746907,5.196544,0.170983,1.382797,20.167066,577.258705,0.019430,31.221062,14.740807,82.900629
min,3.000000,0.000000,3.100000,0.000000,0.000000,7.000000,78.000000,0.003000,9.000000,8.000000,1.000000
25%,551.750000,6.000000,13.000000,0.000000,1.400000,36.000000,899.000000,0.026000,36.000000,20.000000,37.000000
50%,1105.500000,12.000000,16.800000,0.000000,2.400000,50.000000,1581.500000,0.038500,52.000000,26.000000,100.500000
75%,1647.500000,18.000000,20.200000,0.000000,3.400000,68.000000,1993.250000,0.052000,70.000000,37.000000,153.000000
max,2179.000000,23.000000,30.000000,1.000000,8.000000,99.000000,2000.000000,0.125000,269.000000,90.000000,431.000000

## 상관관계

In [37]:
data_dropna.corr()['count']

id                       -0.001272
hour                      0.620985
hour_bef_temperature      0.610444
hour_bef_precipitation   -0.159449
hour_bef_windspeed        0.458083
hour_bef_humidity        -0.459149
hour_bef_visibility       0.308597
hour_bef_ozone            0.468639
hour_bef_pm10            -0.137321
hour_bef_pm2.5           -0.136345
count                     1.000000
Name: count, dtype: float64

- id, 미세먼지, 비: 관계 거의 없음

In [38]:
data_dropna.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

## 비가 올 때 / 안 올 때 count?

In [39]:
data_dropna.loc[data_dropna['hour_bef_precipitation'] == 1.0, 'count'].mean()

35.825

In [40]:
data_dropna.loc[data_dropna['hour_bef_precipitation'] == 0.0, 'count'].mean()

113.13354037267081

- 비가 올 때 평균이 비가 안 올 때 평균보다 낮음
- 1, 0 에 따라 count가 달라질 수 있음

## X, Y 정의
- id, 미세먼지 변수 제외

In [41]:
X = data_dropna.drop(['id','hour_bef_pm10','hour_bef_pm10','count'], axis = 1)

In [42]:
X.head()

,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm2.5
0,20,16.3,1.0,1.5,89.0,576.0,0.027,33.0
1,13,20.1,0.0,1.4,48.0,916.0,0.042,40.0
2,6,13.9,0.0,0.7,79.0,1382.0,0.033,19.0
3,23,8.1,0.0,2.7,54.0,946.0,0.040,64.0
4,18,29.5,0.0,4.8,7.0,2000.0,0.057,11.0

In [43]:
oh_hour_bef_precipitation = pd.get_dummies(X['hour_bef_precipitation'])

In [44]:
oh_hour_bef_precipitation.head()

   0.0  1.0
0    0    1
1    1    0
2    1    0
3    1    0
4    1    0

In [45]:
X.drop(columns = 'hour_bef_precipitation', inplace=True)

In [46]:
X.head()

,hour,hour_bef_temperature,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm2.5
0,20,16.3,1.5,89.0,576.0,0.027,33.0
1,13,20.1,1.4,48.0,916.0,0.042,40.0
2,6,13.9,0.7,79.0,1382.0,0.033,19.0
3,23,8.1,2.7,54.0,946.0,0.040,64.0
4,18,29.5,4.8,7.0,2000.0,0.057,11.0

In [47]:
X = pd.concat([X, oh_hour_bef_precipitation], axis = 1)

In [48]:
X.head()

,hour,hour_bef_temperature,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm2.5,0.0,1.0
0,20,16.3,1.5,89.0,576.0,0.027,33.0,0,1
1,13,20.1,1.4,48.0,916.0,0.042,40.0,1,0
2,6,13.9,0.7,79.0,1382.0,0.033,19.0,1,0
3,23,8.1,2.7,54.0,946.0,0.040,64.0,1,0
4,18,29.5,4.8,7.0,2000.0,0.057,11.0,1,0

In [49]:
Y = pd.DataFrame(data_dropna['count'], columns=['count'])

In [50]:
Y.head()

   count
0   49.0
1  159.0
2   26.0
3   57.0
4  431.0

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
X_train,X_val,Y_train,Y_val = train_test_split(X,Y,test_size=0.2)

In [53]:
X_train

,hour,hour_bef_temperature,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm2.5,0.0,1.0
1011,2,11.0,0.4,42.0,1926.0,0.037,19.0,1,0
522,11,17.1,2.4,55.0,1982.0,0.035,12.0,1,0
198,4,13.1,0.4,73.0,1480.0,0.005,19.0,1,0
123,21,15.5,3.2,64.0,1994.0,0.039,19.0,1,0
875,15,20.8,5.1,25.0,1937.0,0.073,22.0,1,0
...,...,...,...,...,...,...,...,...,...
765,17,9.5,1.4,68.0,2000.0,0.052,37.0,0,1
174,6,13.0,1.2,80.0,611.0,0.020,41.0,1,0
228,15,27.0,3.9,43.0,1090.0,0.043,32.0,1,0
348,2,13.2,2.4,29.0,1271.0,0.033,51.0,1,0
196,6,11.5,0.5,43.0,869.0,0.012,64.0,1,0

In [54]:
Y_train

      count
1011   23.0
522    98.0
198    13.0
123   194.0
875   113.0
...     ...
765   134.0
174    15.0
228   133.0
348    26.0
196    21.0

[1062 rows x 1 columns]

## test

### test set
- test에서 결측값을 train의 평균값으로 대체

In [71]:
test_data = pd.read_csv('test.csv')

In [72]:
test_data.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0
1,1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0
2,2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0
3,4,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0
4,5,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0

In [73]:
test = test_data.drop(['id','hour_bef_pm10','hour_bef_pm10'], axis = 1)

In [74]:
test.describe()

,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm2.5
count,715.000000,714.000000,714.000000,714.000000,714.000000,714.000000,680.000000,679.000000
mean,11.472727,23.263305,0.051821,2.388515,56.668067,1359.494398,0.041196,24.939617
std,6.928427,4.039645,0.221820,1.171270,19.661880,614.171870,0.020656,10.075857
min,0.000000,14.600000,0.000000,0.000000,16.000000,126.000000,0.003000,7.000000
25%,5.500000,20.300000,0.000000,1.500000,42.000000,807.250000,0.027000,17.000000
50%,11.000000,22.900000,0.000000,2.300000,55.000000,1489.000000,0.039000,24.000000
75%,17.000000,26.375000,0.000000,3.275000,73.750000,2000.000000,0.052250,31.000000
max,23.000000,33.800000,1.000000,5.900000,100.000000,2000.000000,0.138000,69.000000

In [75]:
test.isna().sum()

hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm2.5            36
dtype: int64

### test 데이터 결측치 처리

In [76]:
test['hour_bef_temperature'].fillna(19.704918, inplace=True)

In [77]:
test[test['hour_bef_windspeed'].isna()]

,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm2.5
653,19,19.704918,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
test['hour_bef_windspeed'].fillna(3.595082, inplace=True)

In [79]:
test.isna().sum()

hour                       0
hour_bef_temperature       0
hour_bef_precipitation     1
hour_bef_windspeed         0
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm2.5            36
dtype: int64

## training, validation

### Feature Engineering & Initial Modeling

In [80]:
features = ['hour', 'hour_bef_temperature', 'hour_bef_windspeed']
X_train = X[features]
y_train = Y['count']
X_test = test[features]

### RandomForestRegressor

In [81]:
from sklearn.ensemble import RandomForestRegressor

In [82]:
rf = RandomForestRegressor()

In [83]:
rf.fit(X_train, y_train)

RandomForestRegressor()

In [84]:
y_pred = rf.predict(X_test)

## RMSE

In [28]:
from sklearn.metrics import mean_squared_error

In [ ]:
RMSE = mean_squared_error(Y_val, y_pred)**0.5